.loading {
    display: flex;
    align-items: center;
    padding: 2rem 1.5rem;
    min-height: 32.3125rem;
    justify-content: center;
    border-radius: 0.9375rem;
    background: var(--dark-navy);
}

.text {
    font-size: 1rem;
}