.loadingCard {
  display: flex;
  min-height: 32rem;
  align-items: center;
  justify-content: center;
}

.loadingCard,
.profileCard {
  padding: 2rem 1.5rem;
  border-radius: 0.9375rem;
  background: var(--component-background);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}

.userDetails {
  gap: 1.22rem;
  display: flex;
  margin-bottom: 2.06rem;
}

.userImageWrap {
  width: 4.75rem;
  height: 4.75rem;
}

.userImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.userProfileDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.userProfileDetails p {
  margin: 0;
}

.desktopImage,
.dektopProfileDetails {
  display: none;
}

.userName {
  font-size: 1rem;
  color: var(--black);
  font-weight: var(--large-font);
}

.userHandle {
  color: var(--deep-blue);
}

.userDateJoined {
  color: var(--light-grey);
}

.profileDescription,
.noProfileDescription {
  margin-bottom: 1.44rem;
  line-height: 1.5625rem;
}

.userHandle,
.userDateJoined,
.profileDescription,
.noProfileDescription {
  font-size: 0.8125rem;
  font-weight: var(--small-font);
}

.noProfileDescription {
  opacity: 0.75;
}

.profileStats {
  display: flex;
  text-align: center;
  margin-bottom: 1.5rem;
  border-radius: 0.625rem;
  padding: 1.19rem 0.87rem;
  justify-content: space-around;
  background: var(--background-color);
}

.stat {
  font-size: 0.6875rem;
  color: var(--text-color);
  font-weight: var(--small-font);
}

.count {
  font-size: 1rem;
  color: var(--black);
  font-weight: var(--large-font);
}

.profileLinks {
  display: flex;
  flex-direction: column;
}

.linkItem {
  gap: 1.2rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.linkItemIcon {
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
}

.linkItem p {
  font-size: 0.8125rem;
  font-weight: var(--small-font);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.opacity {
  opacity: 0.5;
}

.loadingText,
.notFound {
  text-align: center;
}

@media screen and (min-width: 45rem) {
  .loadingCard {
    min-height: 24rem;
  }

  .profileCard {
    padding: 2.5rem;
  }

  .userImageWrap {
    width: 7.3125rem;
    height: 7.3125rem;
  }

  .userDetails {
    gap: 3.5rem;
  }

  .profileDescription,
  .noProfileDescription {
    font-size: 0.9375rem;
  }

  .profileStats {
    padding: 0.94rem 2rem;
  }

  .stat {
    font-size: 0.8125rem;
  }

  .count {
    font-size: 1.375rem;
  }

  .profileLinks {
    gap: 6rem;
    display: flex;
    flex-direction: row;
  }

  .linkItem {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 50rem) {
  .userDetails {
    gap: 4rem;
  }

  .loadingCard {
    min-height: 26rem;
  }
}

@media screen and (min-width: 56rem) {
  .profileCard {
    gap: 2.31rem;
    padding: 3rem;
    display: flex;
  }

  .loadingCard {
    min-height: 20rem;
  }

  .mobileWrap {
    display: none;
  }

  .wrapper {
    flex-grow: 1;
  }

  .desktopImage,
  .dektopProfileDetails {
    display: block;
  }

  .userName {
    font-size: 1.625rem;
  }

  .userHandle {
    font-size: 1rem;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media (prefers-color-scheme: dark) {
  .loadingCard,
  .profileCard {
    box-shadow: none;
  }
  .count,
  .userName,
  .userDateJoined {
    color: var(--text-color);
  }
}
