.loadingCard {
  display: flex;
  min-height: 32rem;
  align-items: center;
  padding: 2rem 1.5rem;
  justify-content: center;
  border-radius: 0.9375rem;
  background: var(--dark-navy);
}

.profileCard {
  padding: 2rem 1.5rem;
  border-radius: 0.9375rem;
  background: var(--dark-navy);
}

.userDetails {
  gap: 1.22rem;
  display: flex;
  margin-bottom: 2.06rem;
}

.userImageWrap {
  width: 4.75rem;
  height: 4.75rem;
}

.userImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.userProfileDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.userProfileDetails p {
  margin: 0;
}

.desktopImage {
  display: none;
}

.dektopProfileDetails {
  display: none;
}

.userName {
  font-size: 1rem;
  font-weight: var(--large-font);
}

.userHandle {
  font-size: 0.8125rem;
  color: var(--deep-blue);
  font-weight: var(--small-font);
}

.userDateJoined {
  font-size: 0.8125rem;
  font-weight: var(--small-font);
}

.profileDescription, .noProfileDescription {
  font-size: 0.8125rem;
  margin-bottom: 1.44rem;
  line-height: 1.5625rem;
  font-weight: var(--small-font);
}

.noProfileDescription {
  opacity: 0.75;
}

.profileStats {
  display: flex;
  text-align: center;
  margin-bottom: 1.5rem;
  border-radius: 0.625rem;
  padding: 1.19rem 0.87rem;
  justify-content: space-around;
  background: var(--dark-black);
}

.stat {
  font-size: 0.6875rem;
  font-weight: var(--small-font);
}

.count {
  font-size: 1rem;
  font-weight: var(--large-font);
}

.profileLinks {
  display: flex;
  flex-direction: column;
}

.linkItem {
  gap: 1.2rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.linkItemIcon {
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
}

.linkItem p {
  font-size: 0.8125rem;
  font-weight: var(--small-font);
}

a {
  color: var(--white);
  text-decoration: none;
}

.opacity {
  opacity: .5;
}

.loadingText, .notFound {
  text-align: center;
}

@media (prefers-color-scheme: light) {
  .loadingCard {
    background: var(--pale-white);
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
  }

  .profileCard {
    background: var(--pale-white);
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
  }

  .userName {
    color: var(--black);
  }

  .userDateJoined {
    color: var(--light-grey);
  }

  .profileStats {
    background: var(--pale-blue);
  }

  .count {
    color: var(--black);
  }

  a {
    color: var(--grey);
  }
}

@media screen and (min-width: 45rem) {
  .loadingCard {
    min-height: 24rem;
  }

  .profileCard {
    padding: 2.5rem;
  }

  .userImageWrap {
    width: 7.3125rem;
    height: 7.3125rem;
  }

  .userDetails {
    gap: 3.5rem;
  }

  .profileDescription, .noProfileDescription {
    font-size: 0.9375rem;
  }

  .stat {
    font-size: 0.8125rem;
  }

  .count {
    font-size: 1.375rem;
  }

  .profileLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .linkItem {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 50rem) {
  .userDetails {
    gap: 4rem;
  }

  .loadingCard {
    min-height: 26rem;
  }
}

@media screen and (min-width: 56rem) {
  .profileCard {
    gap: 2.31rem;
    padding: 3rem;
    display: flex;
  }

  .loadingCard {
    min-height: 20rem;
  }

  .mobileWrap {
    display: none;
  }

  .desktopImage {
    display: block;
  }
  
  .wrapper {
    flex-grow: 1;
  }

  .dektopProfileDetails {
    display: block;
  }
  
  .profileLinks {
    justify-content: space-between;
  }

  a:hover {
    text-decoration: underline;
  }
}