.header {
  width: 100%;
  margin-bottom: 2.25rem;
}

.brand {
  font-size: 1.625rem;
  color: var(--brand-color);
}

.themeSwitch {
  gap: 1rem;
  padding: 0;
  border: none;
  height: 1.25rem;
  background: none;
  color: var(--switch-color);
}

.switchIconText {
  font-size: 0.8125rem;
  text-transform: uppercase;
  letter-spacing: 0.15625rem;
}

.header,
.themeSwitch {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand,
.switchIconText {
  font-weight: var(--large-font);
}

.switchIcon {
  height: 100%;
  display: flex;
  width: 1.25rem;
  align-items: center;
}

@media screen and (min-width: 45rem) {
  .header {
    margin-bottom: 2.19;
  }
}

@media screen and (min-width: 56rem) {
  .header {
    margin-bottom: 2.25rem;
  }

  .themeSwitch:hover {
    cursor: pointer;
    color: var(--switch-hover);
  }
}
