:root {
  /* defining global color scheme */
  color-scheme: light dark;

  /* defining font weights as variables */
  --small-font: 400;
  --large-font: 700;

  /* defining global colors as variables */
  --red: rgba(247, 70, 70, 1);
  --deep-blue: rgba(0, 121, 255, 1);
  --button-text: rgba(255, 255, 255, 1);
  --button-hover: rgba(96, 171, 255, 1);
}

body {
  --brand-color: rgba(34, 39, 49, 1);
  --switch-hover: rgba(34, 39, 49, 1);
  --text-color: rgba(75, 106, 155, 1);
  --alt-text-color: rgba(43, 52, 66, 1);
  --switch-color: rgba(105, 124, 154, 1);
  --background-color: rgba(246, 248, 255, 1);
  --component-background: rgba(254, 254, 254, 1);

  margin: 0;
  width: 100vw;
  box-sizing: border-box;
  padding: 1.94rem 1.5rem;
  color: var(--text-color);
  background: var(--background-color);
  font-family: "Space Mono", monospace;
}

body.dark-theme {
  --text-color: rgba(255, 255, 255, 1);
  --brand-color: rgba(255, 255, 255, 1);
  --switch-hover: rgba(144, 164, 212, 1);
  --switch-color: rgba(255, 255, 255, 1);
  --background-color: rgba(20, 29, 47, 1);
  --alt-text-color: rgba(255, 255, 255, 1);
  --component-background: rgba(30, 42, 71, 1);

  color: var(--text-color);
  background: var(--background-color);
}

@media screen and (min-width: 45rem) {
  body {
    padding: 7rem 6rem;
  }
}

@media screen and (min-width: 50rem) {
  body {
    padding: 11rem 6rem;
  }
}

@media screen and (min-width: 56rem) {
  body {
    padding: 2rem 16rem;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --text-color: rgba(255, 255, 255, 1);
    --brand-color: rgba(255, 255, 255, 1);
    --switch-hover: rgba(144, 164, 212, 1);
    --switch-color: rgba(255, 255, 255, 1);
    --background-color: rgba(20, 29, 47, 1);
    --alt-text-color: rgba(255, 255, 255, 1);
    --component-background: rgba(30, 42, 71, 1);

    color: var(--text-color);
    background: var(--background-color);
  }

  body.light-theme {
    --brand-color: rgba(34, 39, 49, 1);
    --switch-hover: rgba(34, 39, 49, 1);
    --text-color: rgba(75, 106, 155, 1);
    --alt-text-color: rgba(43, 52, 66, 1);
    --switch-color: rgba(105, 124, 154, 1);
    --background-color: rgba(246, 248, 255, 1);
    --component-background: rgba(254, 254, 254, 1);

    color: var(--text-color);
    background: var(--background-color);
  }
}
