:root {
  /* defining font weights as variables */
  --small-font: 400;
  --large-font: 700;
  
  /* defining global colors as variables */
  --red: rgba(247, 70, 70, 1);
  --white: rgba(255, 255, 255, 1);
  --dark-navy: rgba(30, 42, 71, 1);
  --deep-blue: rgba(0, 121, 255, 1);
  --dark-black: rgba(20, 29, 47, 1);
  --light-blue: rgba(96, 171, 255, 1);
}

body {
  margin: 0;
  width: 100vw;
  color: var(--white);
  box-sizing: border-box;
  padding: 1.94rem 1.5rem;
  background:  var(--dark-black);
  font-family: "Space Mono", monospace;
}

@media screen and (min-width: 56rem) {
  body {
    padding: 4rem 22.19rem;
  }
}